project_name = TimeSeries

width = 6000
height = 6000
number_of_threads = 4

log = true
seed_random = 1587632589
message_transmission_model = DefaultMessageTransmissionModel

nodes[0] = 4
node_radio[0] = 500
distribuition_model[0] = TimeSerieDistribution
communication_radio[0] = 500
node_implementation[0] = SinkNode
connectivity_model[0] = TimeSerieConectivity

nodes[1] = 16
node_radio[1] = 500
distribuition_model[1] = TimeSerieDistribution
communication_radio[1] = 500
node_implementation[1] = SensorNode
connectivity_model[1] = TimeSerieConectivity